:root {
    color-scheme: dark;
}

:root {
    --color-bg: #060606;
    --color-text: #fff;
    --color-link: var(--color-text);
    --touch-target: 3rem;
    --half-touch-target: calc(var(--touch-target) / 2);
    --font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

header,
header:hover {
    transition-duration: 300ms;
}

header {
    border-block-end: 1px solid var(--color-text);
}

header:hover {
    background-color: rgba(6, 6, 6, 0.75);
    border-block-end: 1px solid var(--color-bg);
}

nav,
footer {
    height: max(10dvh, var(--touch-target));
}

nav,
footer,
main {
    padding-inline: var(--half-touch-target);
}

main {
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h2 {
    font-size: max(1.5rem, min(4.5dvw, 2.5rem));
}

img[src="media/logo@64.png"] {
    height: 80%;
    object-fit: cover;
}

nav li {
    font-size: 115%;
}

nav button {
    background-color: transparent;
    border: none;
    color: var(--color-bg-secondary);
    font-size: max(1.1rem, min(3dvw, 1.4rem));
    margin: 0;
    min-height: var(--touch-target);
    padding: 0;
}

dialog {
    padding: var(--half-touch-target);
    width: 75dvw;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

dialog button {
    margin: 0;
    padding: 0;
    padding-inline: var(--half-touch-target);
    line-height: var(--touch-target);
}

dialog h4 {
    text-wrap: pretty;
    margin-block-end: var(--half-touch-target);
}

dialog .actions {
    display: flex;
    justify-content: space-between;
    margin-block-start: var(--half-touch-target);
}

[data-step="2"] .actions {
    justify-content: end;
}

@media (min-width: 650px) {
    dialog {
        padding: var(--touch-target);
    }
}

@media (min-width: 768px) {

    nav,
    footer,
    main {
        padding-inline: var(--touch-target);
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* dialog {
        padding: 2.5rem;
    } */

    /* dialog h4 {
        margin-block-end: 2rem;
    } */

    small[right] ul {
        display: flex;
    }

    small[right] li+li {
        margin-inline-start: var(--half-touch-target);
    }
}